<div>
    <h2 id="page-heading">
        <span jhiTranslate="saudeemcasaApp.profissionalSaude.home.title">Profissional Saudes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profissional-saude" [routerLink]="['/profissional-saude/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="saudeemcasaApp.profissionalSaude.home.createLabel">
            Create a new Profissional Saude
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="profissionalSaudes?.length === 0">
        <span jhiTranslate="saudeemcasaApp.profissionalSaude.home.notFound">No profissionalSaudes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profissionalSaudes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.nomeCompleto">Nome Completo</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.dataNascimento">Data Nascimento</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.nomeMae">Nome Mae</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.nomePai">Nome Pai</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.nacionalidade">Nacionalidade</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.rgRne">Rg Rne</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.orgaExpedidorUf">Orga Expedidor Uf</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.cpf">Cpf</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.estadoCivil">Estado Civil</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.pisPasep">Pis Pasep</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.profissaoAreaAtuacao">Profissao Area Atuacao</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.numeroRegistroProfissional">Numero Registro Profissional</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.uf">Uf</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.rqeComprovanteEspecializacao">Rqe Comprovante Especializacao</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.comprovanteResidenciaMedica">Comprovante Residencia Medica</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.numeroCartaoSus">Numero Cartao Sus</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.enderecoResidencialComercial">Endereco Residencial Comercial</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.numero">Numero</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.complemento">Complemento</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.bairro">Bairro</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.cidade">Cidade</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.cep">Cep</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.telefoneFixo">Telefone Fixo</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.celular">Celular</span></th>
                    <th scope="col" ><span jhiTranslate="saudeemcasaApp.profissionalSaude.dataCadastro">Data Cadastro</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profissionalSaude of profissionalSaudes ;trackBy: trackId">
                    <td><a [routerLink]="['/profissional-saude', profissionalSaude.id, 'view']">{{ profissionalSaude.id }}</a></td>
                    <td>{{ profissionalSaude.email }}</td>
                    <td>{{ profissionalSaude.nomeCompleto }}</td>
                    <td>{{ profissionalSaude.dataNascimento | date:'medium' }}</td>
                    <td>{{ profissionalSaude.nomeMae }}</td>
                    <td>{{ profissionalSaude.nomePai }}</td>
                    <td>{{ profissionalSaude.nacionalidade }}</td>
                    <td>{{ profissionalSaude.rgRne }}</td>
                    <td>{{ profissionalSaude.orgaExpedidorUf }}</td>
                    <td>{{ profissionalSaude.cpf }}</td>
                    <td>{{ profissionalSaude.estadoCivil }}</td>
                    <td>{{ profissionalSaude.pisPasep }}</td>
                    <td>{{ profissionalSaude.profissaoAreaAtuacao }}</td>
                    <td>{{ profissionalSaude.numeroRegistroProfissional }}</td>
                    <td>{{ profissionalSaude.uf }}</td>
                    <td>{{ profissionalSaude.rqeComprovanteEspecializacao }}</td>
                    <td>{{ profissionalSaude.comprovanteResidenciaMedica }}</td>
                    <td>{{ profissionalSaude.numeroCartaoSus }}</td>
                    <td>{{ profissionalSaude.enderecoResidencialComercial }}</td>
                    <td>{{ profissionalSaude.numero }}</td>
                    <td>{{ profissionalSaude.complemento }}</td>
                    <td>{{ profissionalSaude.bairro }}</td>
                    <td>{{ profissionalSaude.cidade }}</td>
                    <td>{{ profissionalSaude.cep }}</td>
                    <td>{{ profissionalSaude.telefoneFixo }}</td>
                    <td>{{ profissionalSaude.celular }}</td>
                    <td>{{ profissionalSaude.dataCadastro | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/profissional-saude', profissionalSaude.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/profissional-saude', profissionalSaude.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(profissionalSaude)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
